body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zoom-controls-box {
  background: gray;
  color: white;
  border-radius: 7px;
  text-align: center;
  box-shadow: 1px 1px 3px 1px #00000042;
  margin-bottom: 10px;
  margin-right: 3px;
}

.zoom-controls-box > div {
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  margin: 0px 10px 0px 10px;
}

.zoom-controls-box.zoom-in-out > div:last-child {
  border-top: 1px solid white
}

.zoom-controls-box.zoom-reset > div {
  margin: 5px;
  padding: 5px 0px 5px 0px
}

.emerging-organizations-chart-controls {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.zoom-controls-box.logo-toggle > div {
  margin: 2px;
  padding: 2px 0px 2px 0px
}

.zoom-controls-box.logo-toggle span {
  font-size: 10px;
}

.zoom-controls-box.logo-toggle div.active {
  background: white;
  color: gray;
  stroke: gray;
  fill: gray;
}

.zoom-controls-box.logo-toggle div.inactive {
  background: gray;
  color: white;
  stroke: white;
  fill: white;
}

.zoom-controls-box.logo-toggle > div > div {
  padding: 8px 0px 8px 0px;
  border-radius: 7px;
  min-height: 30px;
}

.bubble {
  fill: #6ea6cead;
  transition: transform 0.2s, stroke 1s, stroke-width 1s;
}

.bubble.logo {
  stroke: gray;
}

.bubble.active {
  stroke-width: 2px;
  stroke:#0075c9f8;
}